# Build and Release Folders
bin/
obj/

# Visual Studio / IDE Files
.vs/
*.user
*.suo
*.sln.docstates

# Application Generated Artifacts
GeneratedDrawings/
GeneratedLisp/
Logs/
Config/Settings.json

# Dependencies
packages/

# Temporary / OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.bak
